table {
  width: 100%;
  background-color: bisque;
  }

   .top {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading-spinner{
    background: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
  }
